<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-amazon-login"
        version="2.0.21">
    <name>Login with Amazon</name>
    <description>A Cordova Plugin for Login with Amazon.
    Use your Amazon account to authenticate with the app.
    Also supports Companion App APIs for registration of AVS devices.</description>
    <license>MIT</license>
    <keywords>Amazon, Amazon Login, Login, OAuth, Identity, Companion App, Authentication</keywords>

    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="AmazonLoginPlugin"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- Need to include this for android.support.v4.app.Fragment not found problem -->
        <framework src="com.android.support:support-v4:23.+" />
        
        <config-file parent="/*" target="res/xml/config.xml" >
            <feature name="AmazonLoginPlugin">
                <param name="android-package" value="org.apache.cordova.lwa.AmazonLoginPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity"
                      android:theme="@android:style/Theme.NoDisplay"
                      android:allowTaskReparenting="true"
                      android:launchMode="singleTask">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <!-- android:host must use the full package name found in Manifest General Attributes -->
                    <data android:host="${applicationId}" android:scheme="amzn"/>
                </intent-filter>
            </activity>
        </config-file>

        <!-- Go download Amazon's Android SDK and extract the:
         Amazon-Android-SDKs\LoginWithAmazon\login-with-amazon-sdk.jar to lib folder -->
        <source-file src="libs/login-with-amazon-sdk.jar" target-dir="libs" />

        <source-file src="src/android/AmazonLoginPlugin.java" target-dir="src/org/apache/cordova/lwa"/>
        <hook type="after_prepare" src="scripts/android/after_prepare.js"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AmazonLoginPlugin">
                <param name="ios-package" value="AmazonLoginPlugin" onload="true"/>
            </feature>
            <plugin name="AmazonLoginPlugin" value="AmazonLoginPlugin"/>
            <access origin='*.amazon.com' allows-arbitrary-loads-in-media='true'
                    allows-arbitrary-loads-in-web-content='true' allows-local-networking='true'/>
        </config-file>

        <header-file src="src/ios/AmazonLoginPlugin.h"/>
        <source-file src="src/ios/AmazonLoginPlugin.m"/>
        <!-- source-file src="libs/LoginWithAmazon.framework" target-dir="libs" framework="true" / -->
        <framework src="libs/LoginWithAmazon.framework" custom="true" />
        <framework src="SafariServices.framework" weak="true"/>
        <framework src="Security.framework" weak="true"/>

        <preference name="IOS_API_KEY"/>

        <config-file target="*-Info.plist" parent="APIKey">
            <string>$IOS_API_KEY</string>
        </config-file>
        
        <hook type="after_prepare" src="scripts/ios/after_prepare.js"/>
    </platform>

</plugin>